
/*=====================================*/
/* Header and Nav */
/*=====================================*/
.quick-button{
    margin-left: auto;
    font-size: 20px;
}
.quick-button .short-nav{
    float: right;
    width: 22px;
    margin-top: 5px
}
.quick-button span{
    float: left;
    width: 100%;
    height: 2px;
    background: #111a22;
    margin-bottom: 6px;
}
.quick-button a:hover span{
    background: #fa9a83;
}
.quick-button span:last-child{
    margin-bottom: 0px;
}
.navigation{
    background: #f7f7f7;
    width: 100%;
/*    -moz-box-shadow: 0 0px 20px 0px rgba(229, 232, 236, .5);
    -webkit-box-shadow: 0 0px 20px 0px rgba(229, 232, 236, .5);
    box-shadow: 0 0px 20px 0px rgba(229, 232, 236, .5);*/

    max-height: 70px;
}

#flexmenu .nav-inner {
    display: flex;
    flex-flow: row wrap;
    position: relative;
    margin: 0 auto;
    padding: 0px 0px;
}
.header-bottom{
    position: relative;
    padding: 0px 0px;
}
.logo img{
    max-width: 100%;
    max-height: 60px;
    padding: 10px 0px 10px 30px;
}
.menu-button{
    position: absolute; right:0; top:25%;
}
.menu-button a{
    padding: 22px;
    background: #1539E9;
    color:#ffffff;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-family: 'Karla';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
}
@media screen and (max-width: 991px) {
    .logo{
        margin-top: 20px;
        margin-bottom: 40px;
    }
}
#flexmenu .nav-inner > ul.main-menu{
    align-self: flex-end;
    margin-bottom: 0px;
    padding-left: 0px;
    padding-left: 60px;
    padding-bottom: 1%;
}
/* keep the drop-downs from being hidden by content wrappers etc */
.sub-menu {
    z-index: 1234;
}

/* General Menu Styling */
#flexmenu .nav-inner li,
#flexmenu .nav-inner li a{
    border: 0;
    list-style: none;
    display: inline-block;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
    font-family: 'Karla';
    font-size: 16px;
    font-weight: 900;
    line-height: 19px;
    color: #000000;
    text-align: center;
}
#flexmenu .nav-inner ul.main-menu li a {
    padding: 0px 20px;
}

#flexmenu .nav-inner ul.main-menu > li:first-child >a{
    padding-left: 0px;
}
#flexmenu .nav-inner > ul.main-menu > li.active > a,
#flexmenu .nav-inner > ul.main-menu > li.current-menu-item > a,
#flexmenu .nav-inner > ul.main-menu > li > a:hover {
    font-weight: 900;
    color: #1500FF;
}
#flexmenu .nav-inner li a:hover{
    font-weight: 700;
}

#flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children > a i{
    padding-left: 10px;
    font-size: 10px;
}

#flexmenu .nav-inner ul.main-menu ul li.menu-item-has-children a i{
    display: none;
}
#flexmenu .nav-inner ul.main-menu ul li.menu-item-has-children > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #FFF;
    content: '';
}
#flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children > a:before {
    position: absolute;
    top: 19px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ddd;
}
#flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children:hover > a:before {
    top: 23px;
    height: 0;
}
#flexmenu .nav-inner ul.main-menu ul li.menu-item-has-children > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #FFF;
    content: '';
}
#flexmenu .nav-inner ul.main-menu ul > li.menu-item-has-children:hover > a:before {
    top: 17px;
    height: 0;
}

#flexmenu .nav-inner ul.main-menu ul.sub-menu li > a {
    background: #fedfd5;
    border-bottom: 1px solid rgba(229, 232, 236, 0.3);
}
/* Submenu default states, removed by hover gives the animation */
#flexmenu .nav-inner ul.main-menu ul {
    position: absolute;
    left: 0;
    opacity: 0;
    visibility: hidden;
    min-width: 220px;
    padding-left: 0px;
}
#flexmenu .nav-inner > ul.main-menu > li > ul {
    padding-top: 20px;
}
#flexmenu .nav-inner li:hover > ul {
    opacity: 1;
    visibility: visible;
}

#flexmenu .nav-inner ul.main-menu ul li {
    width: 100%;
}

/* tertiary menu */
#flexmenu .nav-inner ul.main-menu ul ul {
    left: 100%;
    top: 0;
}
#flexmenu .nav-inner ul.main-menu ul ul ul ul{
    left: auto;
    right: 100%;
}
#flexmenu .nav-inner ul.main-menu ul li a {
    padding: 5px 20px;
    width: 100%;
    font-size: 12px;
    text-decoration: none;
    text-align: left;
}


@media screen and (max-width: 785px) {
    .quick-button{
        line-height: 50px;
    }
    .quick-button .short-nav{
        margin-top: 6px;
    }
    .navigation{
        max-height: 450px;
        overflow: auto;
    }
    #flexmenu .nav-inner{
        padding: 10px 0px;
    }
    #flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children > a i{
        display: none;
    }
    /* Hamburger */
    .mobile-btn {
        width: 45px;
        height: 35px;
        position: relative;
        left: 8%;
        top: 0px;
        margin-top:5%;
        cursor: pointer;
        z-index: 9;
    }
    .mobile-btn:before {
        content: '';
        position: absolute;
        top: 10px;
        right: 13px;
        display: block;
        height: 2px;
        width: 20px;
        background: #fff;
        transition: all .3s ease;
    }
    .mobile-btn:after {
        content: '';
        position: absolute;
        top: 16px;
        right: 13px;
        display: block;
        height: 8px;
        width: 20px;
        border-top: 2px solid #fff;
        border-bottom: 2px solid #fff;
        transition: all .3s ease;
    }
    /* Turn it into an X when open */
    .mobile-btn.menu-opened{
        background: #fa9a83;
    }
    .mobile-btn.menu-opened:before {
        top: 16px;
        background: #fff;
        width: 20px;
        height: 2px;
        transform: rotate(-45deg);
    }
    .mobile-btn.menu-opened:after { 
        top: 16px;
        border: 0;
        width: 20px;
        height: 2px;
        background: #fff;
        transform: rotate(45deg);
    }
    /* reset horizontal styles */
    #flexmenu .nav-inner ul.main-menu {
        display: none;
        width: 100%;
    }
    #flexmenu .nav-inner > ul.main-menu{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #flexmenu .nav-inner > ul.main-menu > li > ul{
        padding-top: 0px;
    }
    #flexmenu .nav-inner ul.main-menu ul{
        opacity: 1;
        visibility: visible;
    }
    #flexmenu .nav-inner ul.main-menu li,
    #flexmenu .nav-inner ul.main-menu li a,
    #flexmenu .nav-inner ul.main-menu ul li a{
        width: 100%;
    }
    #flexmenu .nav-inner ul.main-menu li a,
    #flexmenu .nav-inner ul.main-menu ul li a {
        text-align: left;
        width: 100%;
        padding: 10px 0px;
        border-radius: 0px;
        border: 0;
        border-bottom: 1px solid rgba(229, 232, 236, 0.3);
    }

    #flexmenu .nav-inner > ul.main-menu > li.active > a,
    #flexmenu .nav-inner > ul.main-menu > li > a:hover{
        border-radius: 0px;
        border: 0;
        border-bottom: 1px solid rgba(229, 232, 236, 0.3);
    }
    #flexmenu .nav-inner ul.main-menu ul li,
    #flexmenu .nav-inner li:hover > ul > li {
        height: auto;  
    }
    #flexmenu .nav-inner ul.main-menu ul li a{
        padding-left: 25px;
    }
    #flexmenu .nav-inner ul.main-menu ul ul li a{
        padding-left: 35px;
    }
    #flexmenu .nav-inner ul.main-menu ul ul ul li a{
        padding-left: 45px;
    }
    #flexmenu .nav-inner ul.main-menu ul ul ul ul li a{
        padding-left: 55px;
    }
    #flexmenu .nav-inner ul.main-menu ul ul ul ul ul li a {
        padding-left: 65px;
    }
    #flexmenu .nav-inner ul.main-menu ul ul ul ul ul ul li a {
        padding-left: 75px;
    }

    #flexmenu .nav-inner ul.main-menu ul,
    #flexmenu .nav-inner ul.main-menu ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
    }
    #flexmenu .nav-inner ul.main-menu ul ul ul ul{
        left: 0;
        right: auto;
    }
    #flexmenu .nav-inner ul.main-menu ul ul li.active a {
        border-left: none;
    }
    #flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children > ul > li.focus > a,
    #flexmenu .nav-inner > ul.main-menu ul > li.menu-item-has-children > ul > li.focus > a {
        background: #262626;
    }
    /* remove cross when menu item is toggled */
    #flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children > a:after,
    #flexmenu .nav-inner > ul.main-menu > li.menu-item-has-children > a:before,
    #flexmenu .nav-inner ul.main-menu ul > li.menu-item-has-children > a:after,
    #flexmenu .nav-inner ul.main-menu ul > li.menu-item-has-children > a:before {
        display: none;
    }

    /* submenu toggles */
    #flexmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 2px;
        display: block;
        border: none;
        height: 40px;
        width: 40px;
        cursor: pointer;
    }

    #flexmenu .submenu-button:after {
        position: absolute;
        top: 19px;
        right: 16px;
        width: 8px;
        height: 2px;
        display: block;
        background: #fff;
        content: '';
    }
    #flexmenu .submenu-button.submenu-opened:after {
        background: #fff;
    }
    #flexmenu .submenu-button:before {
        position: absolute;
        top: 16px;
        right: 19px;
        display: block;
        width: 2px;
        height: 8px;
        background: #fff;
        content: ''
    }
    #flexmenu .submenu-button.submenu-opened:before {
        display: none;
    }

    #flexmenu .submenu-button, .mobile-btn {
        background: #fa9a83;
    }
    #flexmenu .nav-inner ul.main-menu ul.sub-menu li > a{
        background: transparent;
        border-bottom: 1px solid rgba(229, 232, 236, 0.3);
    }
}

/******** Side Navigation ******/
.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: -250px;
    padding: 40px 10px 0px 20px;
    overflow-x: hidden;
    border-left: 1px solid #eee;
}

.sidenav .sidenavclose {
    font-size: 24px;
    margin: 15px 0;
    color: #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    text-align: center;
    border-radius: 3px;
    border: 1px solid #eee;
}

.sidenav ul{
    list-style-type: none;
}
.sidenav .main-menu{
    padding: 0px;
}
.sidenav ul li a{
    display: block;
    padding: 10px 10px;
    border-bottom: 1px solid #eee;
}

.sidenav ul li.menu-item-has-children>a>i{
    float: right;
    padding-top: 5px;
    font-size: 12px;
}
.sidenav .sub-menu{
    list-style: none;
    position: relative;
    display: none;
    opacity: 1;
    visibility: visible;
    min-width: 160px;
    width: 100%;
    z-index: 999;
    padding-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}
